<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>LaserDetector</string>
    <key>CFBundleIdentifier</key><string>com.dreamfix.laserdetector</string>
    <key>CFBundleShortVersionString</key><string>1.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>UIRequiresFullScreen</key><true/>
    <key>NSCameraUsageDescription</key><string>Доступ до камери потрібен для виявлення лазерного променя.</string>
</dict>
</plist>